@use '../../../styles/colors.scss';
@use '../../../styles/mixins.scss';

.event-item {
  border: 1px solid colors.$secondaryBorderColor;
  width: 90vw;
  max-width: 350px;
  border-radius: 0.8rem;

  .event-item__image {
    width: 100%;
    height: 200px;
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.8rem 0.8rem 0 0;
    padding: 1rem;

    .event-item__image-data {
      width: 100%;
      display: flex;
      .image-data__price {
        color: colors.$mainFontColor;
        padding: 0.7rem 1rem;
        background-color: colors.$mainBackgroundColor;
        border-radius: 0.5rem;
        font-weight: 700;
        font-size: 1.4rem;
      }
    }
  }

  .event-item__content {
    width: 100%;
    height: 100%;
    background-color: colors.$mainBackgroundColor;
    display: flex;
    padding: 2rem 1rem 2rem 0;
    align-items: center;

    .event-item__event-item-date {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      .event-item-date__day {
        text-transform: uppercase;
        font-weight: 600;
        color: colors.$mainFontColor;
        font-size: 1.4rem;
      }
      .event-item-date__month {
        text-transform: uppercase;
        font-weight: 700;
        color: colors.$mainPurpleColor;
        font-size: 1.4rem;
      }
    }
  }

  .event-item__event-item-details {
    .event-item-details__title {
      text-transform: uppercase;
      font-weight: 600;
      color: colors.$mainFontColor;
      font-size: 1.4rem;
    }

    .event-item-details__artists {
      // text-transform: uppercase;
      // font-weight: 600;
      color: colors.$eventArtistsColor;
      font-size: 1.3rem;
    }
  }
}
