$eventArtistsColor: #6a7c94;
$eventPageOrganizerWebsite: #e9eaef;
$iconColor: #6a7c94;
$mainBackgroundColor: #ffffff;
$mainFontColor: #131315;
$mainPurpleColor: #7848f4;
$purpleBoxBackgroundColor: #e8e7f7;
$searchBoxColor: #0b0433;
$secondaryBackgroundColor: #f8f8fa;
$secondaryBorderColor: #f0f0f0;
